*{
    margin: 0;
    padding: 0;
}
.container{
    height: 100vh;
    width: 100%;
    background-image: url("background1.jpg");
    background-color: #00539F;
    backgroubd-position: center;
    background-size: cover;
    padding-left: 5%;
    padding-right: 5%;
    overflow:hidden;
}
